body {
                background: #D48AFE ;
                font-family: "Garamond", "Courier New", monospace;
                font-size:20px
            }
            
figure {
              display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
       background-color: #C869FF;   
       text-align:center
             }
            
img {width:70%;
text-align:center
}
            

            
section{
            background: purple;
            width:90%;
            margin:auto;
            }
h1{text-align: center;
font-family:"Brush Script MT";
font-size: 40px
}
h1{
  background-color:#F6E8FA 
}
h2{text-align:center
    
}
h3{
    font-size:20px;
    background-color:#A920D0;

  width:500px
}
nav{
background-color:#A920D0;
padding:10px;
text-align:center;
border-radius:8px
    
}